

.root
{
    -fx-background-image:url('Background.jpg');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;

    
}

.clearButtonStyle
{
    
    -fx-background-size: cover;
    -fx-background-color: linear-gradient(to bottom left, #474141, #827b7b);
    -fx-text-fill:"WHITE";
    -fx-font-family:"Alien Ai";
    -fx-font-size: 9px;

}

.searchResetButtonStyle
{
    -fx-background-size: cover;
    -fx-background-color: linear-gradient(to bottom right, #827b7b, #474141);
    -fx-text-fill:"WHITE";
    -fx-font-family:"Alien Ai";
    -fx-font-size: 20px;
}


.labelStyle
{
    -fx-font-family:"Alien Ai";
}

.fieldStyle
{
    -fx-control-inner-background: #535151;
    -fx-text-box-border: #000000;
    -fx-text-fill: #ffffff;
    -fx-border-color: rgb(0, 0, 0);

}

.dateSelectStyle
{
    -fx-border-color: #000000;
    -fx-control-inner-background: #535151;
}


.list-view {
    -fx-control-inner-background: #535151; /* Default background color */
    -fx-border-color: rgb(0, 0, 0);

}

.list-view .list-cell:odd {
    -fx-control-inner-background: #646161; /* Background color for odd rows */
    -fx-text-fill:#ffffff;

}









